/*MIXINS*/

@mixin linearGradient($top, $bottom) {
  background: $top;
  /* Old browsers */
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top 0%, $bottom 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, $top 0%, $bottom 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );

  /* IE6-9 */
}

/*GENERAL*/
a{
  font-size: inherit;
  color:inherit;
  text-decoration: none;
  font-family:inherit;
  display: block;
}

h2{
  font-family: "ArialRegular";
  font-size: 20px;
}
.middle_h3{
  font-family: "Verdana";
  font-size: 10px;
  color:#666666;
  font-weight: bold;
  border-top:1px solid #999;
  border-bottom:1px dotted #999;
  line-height: 25px;
  text-transform: uppercase;
  text-align: left;
}

.date{
      text-transform: uppercase;
      font-size: 11px;
      font-family: "ArialRegular";
}

.bold_span{
  font-weight: bold;
  display: inline;
}

p{
  font-family: "ArialRegular";
  font-size: 13px;
}

.arial_10{
  font-family: "TimesNewRomanRegular";
  font-size: 10px;
  text-transform: uppercase;
}

body, 
section,
aside,
header,
footer,
nav,
div, 
h1,
h2,
h3,
h4,
p,
ul,
li,
span{
  margin:0;
  padding:0;
  border-sizing:border-box;
  font-weight: 100;
}

body{
  width: 100%;
}

.main{
  float: left;
}

.container1{
  width: 1000px;
  margin:0 auto;
}

.container2{
  width: 654px;
  margin:0 auto;
}

aside{
  width: 325px;
  float:right;
}

.aside_container{
  width:307px;
  margin:0 auto;
}

/*HEADER*/
header{
  height: 148px;
  width:100%;
  @include linearGradient(#363636, #131313);
  border-bottom:3px solid #D66322;
  .menu{
    width: 100%;
    height: 30px;
    .date{
      float:right;
      padding-right: 22px;
      line-height: 29px;
      color:#fff;
    }
    ul{
      float:right;
      height: 30px;
      li{
        list-style-type: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 11px;
        font-family: "ArialRegular";
        color:#fff;
        line-height: 30px;
        padding:0 3px 0 3px;
        text-align: center;
        font-weight: 100;
      }
    }
    .menu_top{
      width: 240px;
      @include linearGradient(#565656, #444444);
        li{
          position:relative;
          &:first-child{
            &:before{
            content:" ";
            display: block;
            width: 20px;
            height: 30px;
            position:absolute;
            background:url(../../images/left_corner.png)50% 50% no-repeat;
            background-size: cover;
            left: -20px;
          }
          a{
            &:after{
              content:"";
              position:absolute;
              border: 5px solid transparent; border-top: 7px solid #F4772A;
              z-index: 2;
              top: 12px;
              right: 13px;
            }
          }
        }
        &:last-child{
          width: 44px;
          a{
            border-right:none;
          }
            &:after{
            content:" ";
            display: block;
            width: 20px;
            height: 30px;
            position:absolute;
            background:url(../../images/right_corner.png)50% 50% no-repeat;
            background-size: cover;
            right: -20px;
            top: 0;
          }
          a{
            position:relative;
            &:after{
              content:"";
              position:absolute;
              border: 5px solid transparent; border-top: 7px solid #F4772A;
              z-index: 2;
              top: 6px;
              right: 1px;
            }
          }
        }
        &:first-child{
          padding-right:10px;
        }
        a{
          border-right:2px solid #444444;
          padding-right:15px;
          line-height: 18px;
          margin-top:6px;
        }
      }
    }
    .autorization{
      @include linearGradient(#696969, #545454);
      margin-left: -24px;
      margin-right: 22px;
      li{
        position:relative;
        padding:0 2px 0 2px;
        font-size: 10px;
        &:nth-child(2){
            &:after{
            content:" ";
            display: block;
            width: 20px;
            height: 22px;
            position:absolute;
            background:url(../../images/logout.png)50% 50% no-repeat;
            background-size: cover;
            right: -20px;
            top: 0;
          }
        }
        &:first-child{
          padding-left:25px;
          padding-right:20px;
          color:#B8B8B8;
            a{
              padding-left: 20px;
            }
        }
        &:last-child{
          margin-left:20px;
          color:#F4772A;
          font-family: "ArialBold";
          a{
            border-left:2px solid #3D3D3D;
            padding-left:4px;
            line-height: 18px;
            display:block;
          }
          &:after{
            content:" ";
            display: block;
            width: 20px;
            height: 30px;
            position:absolute;
            background:url(../../images/aut_corner.png)50% 50% no-repeat;
            background-size: cover;
            right: -20px;
            top: -6px;
          }
        }
      }
    }
  }
  .header_content{
    width: 100%;
    height: 82px;
    display: block;
    .logo{
      float: left;
      width: 314px;
      margin-top: 8px;
      margin-left:2px;
    }
    .search{
      float:right;
      label{
        color:#fff;
        cursor: pointer;
        font-size: 14px;
        font-family: "ArialBold";
      }
      .search_form{
        width: 288px;
        height: 26px;
        border-radius:8px;
        @include linearGradient(#F79633, #F79633);
        margin-top: 20px;
        margin-right: 13px;
        position:relative;
        &:before{
          content:" ";
          display: block;
          width: 15px;
          height: 15px;
          position:absolute;
          background:url(../../images/icon-search.png)50% 50% no-repeat;
          background-size: cover;
          z-index: 2;
          left: 11px;
          top: 7px;
        }
        input{
          outline: none;
          width: 251px;
          height: 26px;
          border-radius:8px;
          border:none;
          margin-right:9px;
          font-weight: 100;
          position:relative;
          font-size:12px;
          font-family: "ArialRegular";
          font-weight: 100;
          box-sizing:border-box;
          color:black;
          padding-left: 33px;
          line-height: 28px;
        }
      }
    }
  }

  nav{
    width: 722px;
    height: 35px;
    ul{
      @include linearGradient(#535353, #333333);
      border-radius:10px 10px 0 0;
      position:relative;
       margin-bottom: -2px;
      li{
        display: inline-block;
        list-style-type: none;
        padding:0 13px 0 14px;
        font-size:14px;
        color:#fff;
        line-height: 35px;
        &:hover{
          @include linearGradient(#F5802C, #F35C24);
        }
        &:hover > .inner{
          display: block;
        }
        &:last-child{
          font-family: "ArialBold";
          text-transform: uppercase;
          font-size: 12px;
          @include linearGradient(#80B2CE, #314F63);
          padding:0 15px 0 15px;
          border-radius:0 10px 0 0;
          }
          &:first-child{
            border-radius:10px 0 0 0 ;
          }
        a{
          display:block;
          height: 35px;
        }
        .inner{
          position:absolute;
          @include linearGradient(0, 0);
          width: 100%;
          left:0;
          top: 35px;
          display: none;
          li{
            color:#000;
            font-size: 13px;
            font-family: "ArialBold";
            position:relative;
            &:hover{
              @include linearGradient(0, 0);
            }
            .triangle{
              position:absolute;
              border: 5px solid transparent; 
              border-top: 7px solid #F4772A;
              top:-5px;
              left:30px;
              display: none;
            }
            &:last-child{
              color:#000;
              font-size: inherit;
              font-size: 13px;
              font-family: "ArialBold";
              @include linearGradient(0, 0);
              text-transform: none;
              padding:0 13px 0 13px;
              a{
                border-right:none;
              }
            }
            a{
              border-right:3px groove #CBCBCB;
              padding-right:10px;
              box-sizing:border-box;
              line-height: 20px;
              height: 20px;
              &:hover > .triangle{
                display: block;
              }
              &:hover{
                color:#F36B27;
              }
            }
          }
        }
      }
    }
  }
}/*HEADER*/

/*MAIN*/

.main{
  width: 100%;
  .strict{
    width: 100%;
    height: 33px;
    @include linearGradient(#F1F1F1, #DADADA);
  }
  .content{
    width: 1000px;
    margin:0 auto;
    main{
      float: left;
      width: 673px;
      height: 200px;
      .date{
        padding:15px 0 17px 11px;
        display: block;
        .bold{
          font-family: "ArialBold";
          margin-left:-3px;
        }
      }
      h2{
        margin-left: 13px;
        border-bottom:1px dotted #999;
        padding-bottom:10px;
      }
      .left_column{
        float: left;
        width: 473px;
        margin-right:10px;
        margin-left:13px;
        .main_txt{
          font-size: 14px;
          font-family: "ArialRegular";
          margin-top: 18px;
          line-height: 20px;
        }
        .rates{
          width: 100%;
          height: 30px;
          img{
            margin-top: 9px;
            margin-left: 4px;
            float: left;
          }
          .rates_p{
            font-family: "Verdana";
            font-size: 10px;
            text-transform: uppercase;
            float: left;
            line-height: 25px;
            vertical-align: middle;
            margin-top: 10px;
            padding-left: 7px;
          }
        }
        .arial_10{
          text-align: left;
          margin-top: 15px;
          letter-spacing: 0.5px;
          .span_blue{
            color:#336699;
            text-transform: none;
            font-size: 12px;
            font-family: "ArialRegular";
            letter-spacing: 0.3px;
          }
           &:last-child{
            span{
              font-weight: bold;
              font-size:12px;
            }
          }
        }
        .molestie{
          line-height: 3px;
        }
        p{
          line-height: 20px;
          margin-top: 20px;
          .blue{
            color:#336698;
          }
        }
        .first{
          margin-top: 37px;
        }
        .bold{
            font-family: "ArialBold";
            margin-top: 19px;
          }
        .after_img_p{
          padding-top: 29px;
          line-height: 18px;
          padding-left: 2px;

          }
        .graphics{
            margin:33px 0 20px -2px;
        }
        ul{
          margin-top: 21px;
          li{
            list-style-type: none;
            font-size: 13px;
            line-height: 18px;
            color:#336698;
            position:relative;
            margin-left: 20px;
            &:before{
              content:"\203A";
              width: 10px;
              height: 10px;
              font-size: 18px;
              position:absolute;
              left: -14px;
              top: -2px;
              color:#696969;
            }
          }
        }
        .after_ul_p{
          line-height: 18px;
          padding-left: 0px;
          margin-top: 22px;
        }
        .bold_p{
          margin-top: 17px;
        }

        .rate_2{
          width: 357px;
          height: 73px;
          background-color: #F1F1F1;
          border-radius: 10px;
          margin-top: 29px;
          margin-left: 0px;
          border:1px solid #ACACAC;
          .orange_p{
            color: #F36426;
            font-size: 14px;
            line-height: 18px;
            margin-top: 8px;
            padding-left: 17px;
            font-family: "ArialRegular";
          }
          .rates_2{
            margin-left: 22px;
            width: 165px;
            height: 24px;
            background-color: #fff;
            margin-top: 11px;
            margin-bottom:64px;
          }
          .unrated_p{
            font-family: "Verdana";
            font-size:10px;
            float: right;
            font-weight: bold;
            text-transform: uppercase;
            color:#868686;
            margin-right: 10px;
            margin-top: 5px;
          }
          img{
            float:left;
          }
        }
      }
      .right-column{
        float: right;
        width: 161px;
        margin-right: 9px;
        .top_banner{
          width: 100%;
          height: 105px;
          background-color:black;
          border-radius:10px;
          margin-top: 11px;
          @include linearGradient(#535353, #212121);
          text-align: center;
          .banner_h3{
            font-size:12px;
            font-family: "ArialBold";
            color:#fff;
            text-transform: uppercase;
            padding-top: 11px;
          }
          .banner_span{
            font-size:10px;
            font-family: "ArialRegular";
            color:#CCC;
            display: block;
            padding-bottom: 4px;
          }
          .sell{
            font-size:20px;
            font-family: "ArialBold";
            color:#ff7c00;
            text-transform: uppercase;
          }
          .share{
            width: 146px;
            height: 25px;
            margin:0 auto;
            @include linearGradient(#464646, #3C3C3C);
            margin-top: 6px;
            p{
              text-transform: uppercase;
              font-size: 10px;
              font-family: "ArialRegular";
              color:#fff;
              line-height: 26px;
              text-align: left;
              padding-left: 8px;
              .price{
                float: right;
                font-weight: bold;
                padding-right: 8px;
                font-size: 12px;
                line-height: 23px;
              }
            }
          }
        }
        .guide{
          .middle_h3{
            border-top:none;
            margin-top: 11px;
            margin-left: 7px;
          }
          img{
            margin-top: 10px;
            margin-left: 12px;
          }
        }

        .tools{
          .middle_h3{
            margin-top: 13px;
            margin-left: 7px;
          }
          ul{
            margin-top: 8px;
            margin-left: 15px;
             li {
              list-style: none;
              padding-left: 24px;
              line-height: 24px;
              font-size: 10px;
              font-family: "ArialRegular";
              text-transform: uppercase;
              &:nth-child(1){
                background: url(../../images/sprite-tools.png) no-repeat 0 1%;
              }
              &:nth-child(2){
                background: url(../../images/sprite-tools.png) no-repeat 0 29%;
              }
              &:nth-child(3){
              background: url(../../images/sprite-tools.png) no-repeat 0 54%;
              }
               &:nth-child(4){
              background: url(../../images/sprite-tools.png) no-repeat 0 77%;
              }
               &:nth-child(5){
              background: url(../../images/sprite-tools.png) no-repeat 0 104%;
              }
            }
          }
        }
        .reviews{
          .middle_h3{
            margin-top: 15px;
            margin-left: 7px;
          }
          .reviews_p{
            color:#336698;
            font-size: 11px;
            line-height: 14px;
            margin-top: 10px;
            margin-left: 7px;
          }
          .reviews_date{
            font-size: 11px;
            font-family: "ArialRegular";
            margin-left: 7px;
          }
          .reviews_bold{
            font-size: 11px;
            font-family: "ArialBold";
          }
        }
        .editors{
          .middle_h3{
            margin-top: 13px;
            margin-left:8px;
          }
          .editors_li{
            margin-top:6px;
            margin-left: 8px;
            li{
            list-style-type: none;
            font-size: 11px;
            line-height: 20px;
            color:#336698;
            position:relative;
            margin-left: 10px;
            &:last-child{
              font-weight: bold;
              &:before{
                font-weight: normal;
              }
            }
            &:before{
              content:"\203A";
              width: 10px;
              height: 10px;
              font-size: 18px;
              position:absolute;
              left: -11px;
              top: -2px;
              color:#696969;
              font-weight: normal;
              }
            }
          }
        }
      }
    }
    aside{
      float: right;
      width: 327px;
      background-color:#F1F1F1;
      border-radius:10px 10px 0 0;
      margin-top: 15px;
      .aside_container{
        width: 306px;
        margin:0 auto;
        .aside_h3{
        font-family: "Verdana";
        font-size: 11px;
        border-bottom:1px solid #C1C1C1;
        font-weight: bold;
        text-transform: uppercase;
        color:#666;
        line-height: 19px;
        text-align: center;
        margin-top: 11px;
        padding-bottom: 2px;
        }
        .aside_h2{
          font-size:18px;
          text-transform: uppercase;
          font-family: "ArialBold";
          text-align: center;
          line-height: 41px;
          span{
            font-family: "ArialRegular";
          }
        }
        .general_info{
          width: 100%;
          height: 315px;
          border-radius:10px;
          background-color:#fff;
          .aside_h4{
            font-family: "Verdana";
            font-size: 10px;
            color:#fff;
            font-weight: bold;
            line-height: 30px;
            text-transform: uppercase;
            text-align: left;
            background-color:#666666;
            padding-left:10px;
            border-radius:10px 10px 0 0;
            border-bottom:2px groove #fff;
            margin-top: -4px;
            span{
              float: right;
              padding-right:17px;
            }
          }
          table{
            width: 100%;
            font-size: 12px;
            font-family: "ArialRegular";
            margin-left: 12px;
            margin-top: 9px;
            line-height: 22px;
            td:first-child{
              width: 169px;
            }
            td:nth-child(2){
               font-family: "ArialBold";
               display: block;
            }
            .first_td,.last_td{
              color:#336699;
            }
            .hold_td{
              display: block;
              width: 48px;
              @include linearGradient(#F8A451, #BF6320);
              border-radius:7px;
              color:#fff;
              text-align: center;
              line-height: 17px;
              width: 47px;
              height: 18px;
              margin-top: 3px;
              margin-left: -3px;
            }
          }
          p{
            border-top: 1px solid #E3E3E3;
            margin-top: 8px;
            padding:10px 10px 0 8px;
            font-size: 11px;
            font-family: "ArialRegular";
            line-height: 16px;
          }
          .more{
              color:#336699;
              font-size: 11px;
              font-family: "ArialRegular";
              line-height: 16px;
              padding:5px 10px 0 8px;
              display: block;
          }
        }
        .video_section{
          width: 100%;
          height: 282px;
          .aside_h4{
            font-family: "Verdana";
            font-size: 10px;
            color:#fff;
            font-weight: bold;
            line-height: 30px;
            text-transform: uppercase;
            text-align: left;
            background-color:#666666;
            padding-left:10px;
            border-radius:10px 10px 0 0;
            border-bottom:2px groove #fff;
            margin-top: 15px;
          }
          p{
            font-size: 11px;
            line-height: 16px;
            padding-left: 9px;
            padding-right: 9px;
          }
        }
        .chart{
          width: 100%;
          height: 198px;
          border-radius:10px;
          background-color:#fff;
          margin-top: 15px;
          margin-bottom: 6px;
          
          .tabs1{
              display:inline-block;
              width: 100%;
              ul{
                width: 100%;
                height: 34px;
                @include linearGradient(#626262, #2E2E2E);
                border-radius:10px 10px 0 0;
                li{
                  padding-right:3px;
                  padding-left:3px;
                  width: 30%;
                  list-style: none;
                  float:left;
                  &:first-child{
                    margin-left:10px;
                  }
                  a{
                    text-align: center;
                    margin-top:6px;
                    border-radius:10px;
                    color:#fff;
                    font-family: "ArialRegular";
                    font-size:11px;
                    text-transform: uppercase;
                    line-height: 20px;
                    &:hover{
                    @include linearGradient(#E45B22, #ED832C);
                    }
                  }
                }
              }
              div{
                img{
                  width: 296px;
                  height: 153px;
                }
              }
            }
          }
        .experts{
            width: 100%;
            height: 164px;
            border-radius:10px;
            margin-bottom: 10px;
            margin-top: 9px;
            #tabs2{
              height: 156px;
              .tab_content{
                p {
                  text-align: right;
                  padding-top: 7px;
                  font-size: 10px;
                  padding-top: 10px;
                  margin-right: -35px;

            span {
              color: #336698;
              cursor: pointer;
              font-size: 12px;
              padding-right: 20px;
            }
          }
            .tab_ul{
              li{
                font-size: 12px;
                font-family: "ArialRegular";
                color: #336698;
                list-style-type: none;
                width: 279px;
                height: 20px;
                margin-left: -28px;
                background-color:#fff;

                &:before {
                  content: "\203A";
                  width: 7px;
                  height: 7px;
                  border-radius: 23%;
                  background-color: #ED832C;
                  display: inline-block;
                  margin-left: 10px;
                  margin-right: 10px;
                  color: #fff;
                  font-size: 8px;
                  text-align: center;
                  border: 1px solid #C15A1E;
                  line-height: 10px;
                }
                &:first-child{
                  margin-top: -8px;
                }
              }
            }
          }
              ul{
                background-color:#E4E4E4;
                border:none;
                li{
                  background-color:#E4E4E4;
                  height: 38px;
                  outline:none;
                  margin:0;
                  padding:0;
                  border:none;
                  width: 70px;
                  a,p{
                    font-size:11px;
                    font-family: "ArialRegular";
                    outline:none;
                    text-transform: uppercase;
                     padding:2px;
                     border:none;
                     width: 70px;
                     text-align: center;
                     &:nth-child(2){
                      margin-top:15px;
                     }
                  }
                }
                .ui-state-active{
                    font-weight: bold;
                    background-color:#fff;
                    font-family: "ArialBold";
                  }
                }
              }
            }
        .dividents{
            width: 100%;
            height: 161px;
            border-radius:10px;
            #tabs3{
              height: 156px;

              table{
                    width: 289px;
                    margin-left: -20px;
                    margin-top: -11px;
                    height: 90px;
                tr{
                  font-size:11px;
                  font-family: "ArialRegular";
                  background-color:#F1F1F1;
                  border-bottom:1px solid #fff;
                  td{
                    &:first-child{
                    padding-left:10px;
                  }
                  &:last-child{
                    text-align: right;
                    font-family: "ArialBold";
                    padding-right: 10px;
                  }
                }
              }
            }
              p{
                text-align: right;
                padding-top: 7px;
                font-size: 10px;
                padding-top: 10px;
                margin-right: -35px;
                span {
                  color: #336698;
                  cursor: pointer;
                  font-size: 12px;
                  padding-right: 20px;
                }
              }
              ul{
                background-color:#E4E4E4;
                border:none;
                li{
                  background-color:#E4E4E4;
                  height: 28px;
                  outline:none;
                  margin:0;
                  padding:0;
                  border:none;
                  margin-right: -2px;
                  a,p{
                    font-size:11px;
                    font-family: "ArialRegular";
                    outline:none;
                    text-transform: uppercase;;
                     border:none;
                     text-align: center;
                     &:nth-child(2){
                      margin-top:15px;
                     }
                  }
                }
                .ui-state-active{
                    font-weight: bold;
                    background-color:#fff;
                    font-family: "ArialBold";
                  }
                }
              }
            }

        .membersheep{
          width: 100%;
          height: 73px;
          background-color:#9FCEEC;
          margin-top: 10px;
          h2{
            font-family: "ArialBold";
            font-size: 14px;
            color:#fff;
            text-transform: uppercase;
            float: left;
            padding-top: 9px;
            padding-left: 11px;
            span{
              color:#333;
              padding-left: 5px;
            }
          }   
          a{
            float: right;
            width: 65px;
            height: 52px;
            @include linearGradient(#484848, #000);
            border-radius:10px;
            margin-top: -14px;
            margin-right: 14px;
            color:#F4782A;
            text-transform: uppercase;
            font-size: 14px;
            font-family: "ArialBold";
            text-align: center;
            box-sizing:border-box;
            padding-top:7px;
            span{
              font-size: 20px;
              font-family: "ArialRegular";
              color:#fff;
            }
          }
          p{
            float: left;
            width: 200px;
            padding-left: 13px;
            padding-top: 8px;
          }
        }
      }
        .social{
          width: 100%;
          height: 32px;
          border-radius: 10px;
          background-color: #E4E4E4;
          margin-top: 14px;
          a, span{
            float: left;
            position:relative;
          }
          a{
            color:#000;
            font-family: "ArialRegular";
            font-size:11px;
            margin-right:15px;
            line-height: 32px;
            margin-left: 15px;

            &:before{
              content:"";
              width: 15px;
              height: 15px;
              display: inline-block;
              position:absolute;
              background-size:cover;
              top: 9px;
              left: -18px;
            }
          } 
          .fb{
            margin-left: 33px;
            &:before{
              background-image:url(../../images/icon-fb.png);
            }
          }
          .tw{
            &:before{
              background-image:url(../../images/icon-twitter.png);
            }
          }
          .rss{
            &:before{
              background-image:url(../../images/icon-rss.png);
            }
          }
          span{
            font-family: "ArialRegular";
            font-size:11px;
            color:#666;
            padding-left:11px;
            line-height: 32px;
            border-right:1px solid #C7C7C7;
            padding-right:8px;
          }
        }
      }
    }
  }