html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*GENERAL*/
.container {
  width: 1170px;
  margin: 0 auto; }

.container_inner {
  width: 870px; }

main {
  width: 100%;
  height: 1630px; }

aside {
  width: 270px;
  height: 100%;
  float: left;
  margin-top: 44px; }

.main {
  float: right; }

a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit; }

nav, ul, li, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0; }

body {
  background-color: #F7ECE5; }

/*HEADER*/
header {
  width: 100%;
  height: 370px;
  background: url(../../images/header_left.png) 0 100% no-repeat, url(../../images/header_right.png) 100% 0 repeat-y; }
  header .header_info {
    width: 770px;
    height: 295px;
    margin: 0 auto;
    position: relative; }
    header .header_info span {
      width: 245px;
      float: left;
      margin-top: 25px;
      color: #491B1A;
      font-family: "MyriadProBold";
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 100; }
    header .header_info .right_item {
      float: right;
      text-align: right;
      width: 255px; }
    header .header_info .logo {
      width: 122px;
      height: 165px;
      margin: 0 auto;
      padding-top: 20px; }
    header .header_info h1 {
      font-family: "MyriadProCondBold";
      color: #C64E42;
      text-transform: uppercase;
      font-size: 36px;
      text-align: center;
      width: 430px;
      margin: 0 auto;
      display: block;
      font-weight: 100;
      margin-top: 5px; }
    header .header_info .medal1, header .header_info .medal2, header .header_info .medal_right {
      position: absolute; }
    header .header_info .medal1 {
      top: 110px;
      left: -148px; }
    header .header_info .medal2 {
      top: 99px;
      left: -48px; }
    header .header_info .medal_right {
      right: -125px;
      top: 109px; }
  header nav {
    width: 100%;
    height: 82px;
    background-image: url(../../images/nav_back.jpg);
    background-size: cover;
    margin-top: -2px; }
    header nav ul li {
      display: inline-block;
      width: 12%;
      margin-right: 22px;
      height: 39px;
      text-align: center;
      line-height: 48px;
      margin-top: 11px;
      font-family: "MyriadProCondBold";
      font-size: 22px;
      color: #F9EFE5;
      text-transform: uppercase;
      font-weight: 100;
      padding-right: 2px;
      padding-left: 2px; }
      header nav ul li a {
        display: block;
        width: 100%;
        height: 100%; }
      header nav ul li:last-child {
        margin-right: 0; }
      header nav ul li:hover {
        background-color: #572020; }
      header nav ul li:hover > ul {
        display: block; }
      header nav ul li .inner {
        width: 270px;
        height: 239px;
        background-color: #572020;
        position: absolute;
        display: none; }
        header nav ul li .inner li {
          display: block;
          width: 270px;
          height: 10px;
          font-size: 18px;
          text-transform: uppercase;
          font-family: "MyriadProCondRegular";
          text-align: left;
          margin-left: 10px;
          font-weight: 100;
          padding-top: 10px; }
          header nav ul li .inner li:hover {
            background-color: transparent; }

aside .news_block {
  background-color: #F3E8E0;
  border: 2px solid #E9DFD8;
  height: 463px;
  width: 100%; }
  aside .news_block h3 {
    color: #6D2726;
    font-size: 21px;
    text-transform: uppercase;
    font-family: "MyriadProCondBold";
    padding-top: 22px;
    text-align: center; }
  aside .news_block .photo {
    background-image: url(../../images/ermakov.jpg);
    width: 217px;
    height: 146px;
    margin: 0 auto;
    margin-top: 30px; }
  aside .news_block p {
    width: 217px;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
    font-family: "MyriadProRegular";
    font-weight: 100;
    margin-left: 20px;
    line-height: 22px; }
    aside .news_block p .more {
      text-decoration: underline;
      width: 217px;
      margin: 0 auto;
      font-family: "MyriadProSemiBold";
      display: block;
      padding-top: 20px;
      font-weight: 100; }
  aside .news_block .strong {
    font-family: "MyriadProSemiBold";
    font-weight: 100;
    font-weight: normal;
    margin-left: 21px;
    display: block;
    margin-bottom: -21px;
    margin-top: 27px; }
aside .photo_block {
  width: 100%;
  height: 321px;
  background-color: #F3E8E0;
  border: 2px solid #E9DFD8;
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  color: #692F28; }
  aside .photo_block h3 {
    margin-bottom: 10px;
    font-family: "MyriadProCondBold";
    font-size: 30px;
    margin-top: -4px;
    margin-left: -7px; }
aside .banner {
  width: 100%;
  height: 347px;
  background-image: url(../../images/dates.jpg); }
  aside .banner .img-overlay {
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.3);
    color: #FFF;
    text-align: center; }
    aside .banner .img-overlay h3, aside .banner .img-overlay h4 {
      text-transform: uppercase;
      font-family: "MyriadProCondBold";
      font-size: 19px;
      width: 200px;
      margin: 0 auto;
      font-weight: 100;
      padding-top: 8px; }
    aside .banner .img-overlay span {
      display: block;
      margin-top: 9px;
      margin-bottom: 10px;
      letter-spacing: 1px;
      font-family: "MyriadProBold";
      text-transform: uppercase;
      font-size: 12px; }
    aside .banner .img-overlay h3 {
      font-size: 24px;
      padding-top: 20px;
      display: block;
      margin-left: 31px;
      line-height: 29px; }
    aside .banner .img-overlay p {
      width: 222px;
      margin: 0 auto;
      font-size: 14px;
      font-family: "MyriadProRegular";
      padding-top: 17px; }

.main {
  margin-top: 44px;
  width: 870px; }
  .main .wrapper {
    width: 870px;
    height: 440px;
    background-image: url(../../images/back.png);
    background-color: #6E2826;
    margin-bottom: 45px; }
  .main .slider {
    width: 849px;
    height: 419px;
    margin: 0 auto; }
    .main .slider #owl-demo .item img {
      display: block;
      width: 628px;
      height: 419px;
      float: left;
      margin-top: 12px; }
    .main .slider .slider_txt {
      width: 35%;
      height: 419px;
      background-image: url(../../images/slider_back.png);
      background-size: cover;
      float: right;
      position: absolute;
      margin-top: 12px;
      right: 0; }
      .main .slider .slider_txt span, .main .slider .slider_txt h3, .main .slider .slider_txt p {
        margin-top: 27px;
        margin-left: 45px;
        margin-right: 15px;
        color: #F7EFF0;
        font-family: "MyriadProCondRegular";
        font-weight: 100; }
      .main .slider .slider_txt span {
        font-size: 14px;
        line-height: 27px;
        text-transform: uppercase;
        display: block;
        margin-top: 20px;
        letter-spacing: 2px; }
      .main .slider .slider_txt h3 {
        font-size: 27px;
        text-transform: uppercase;
        margin-top: 13px; }
      .main .slider .slider_txt p {
        font-family: "MyriadProRegular";
        font-weight: 100;
        font-size: 18px;
        margin-left: 46px;
        margin-right: 12px; }
  .main .main_block {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    border: 2px solid #ECE2DB; }
    .main .main_block div {
      float: left; }
    .main .main_block .block_photo {
      width: 255px;
      background-color: gray;
      margin-left: 15px;
      margin-top: 12px;
      margin-bottom: 12px; }
    .main .main_block .block_txt {
      width: 570px;
      float: right;
      margin-top: 12px;
      height: auto;
      font-family: "MyriadProSemiBold";
      font-weight: 100;
      margin-bottom: 12px; }
      .main .main_block .block_txt span {
        color: #A53F3D;
        font-size: 14px;
        text-transform: uppercase; }
      .main .main_block .block_txt h3 {
        color: #11100F;
        font-size: 24px;
        text-transform: uppercase;
        margin-top: 20px; }
      .main .main_block .block_txt p {
        color: #090908;
        font-size: 18px;
        padding-right: 57px; }

.pagination {
  height: 65px;
  margin-top: 40px;
  width: 100%;
  clear: both; }
  .pagination ul {
    width: 870px;
    height: 60px;
    border: 2px solid #ECE2DB;
    text-align: center; }
    .pagination ul li {
      display: inline-block;
      list-style-type: none;
      width: 25px;
      height: 36px;
      border: 2px solid #ECE2DB;
      margin-left: 3px;
      margin-top: 8px;
      line-height: 35px;
      font-family: "MyriadProRegular";
      color: #A53F3D;
      font-size: 19px;
      font-weight: 100; }
      .pagination ul li:last-child, .pagination ul li:first-child {
        width: 100px; }
      .pagination ul li a {
        display: block;
        width: 100%;
        height: 100%; }
        .pagination ul li a:hover {
          background-color: #EAE0D9;
          color: #3B3836;
          font-weight: bold; }

footer {
  width: 100%;
  background-color: #6E2826;
  height: 149px;
  text-align: center; }
  footer .string {
    background-image: url(../../images/back.png);
    width: 100%;
    height: 19px; }
  footer p {
    font-family: "MyriadProRegular";
    font-size: 16px;
    color: #CEC0BB;
    padding-top: 81px;
    font-weight: 100; }

@font-face {
  font-family: "MyriadProBold";
  src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot");
  src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MyriadProCondBold";
  src: url("../fonts/MyriadProCond/MyriadProCondBold/MyriadProCondBold.eot");
  src: url("../fonts/MyriadProCond/MyriadProCondBold/MyriadProCondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProCond/MyriadProCondBold/MyriadProCondBold.woff") format("woff"), url("../fonts/MyriadProCond/MyriadProCondBold/MyriadProCondBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MyriadProCondRegular";
  src: url("../fonts/MyriadProCond/MyriadProCondRegular/MyriadProCondRegular.eot");
  src: url("../fonts/MyriadProCond/MyriadProCondRegular/MyriadProCondRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProCond/MyriadProCondRegular/MyriadProCondRegular.woff") format("woff"), url("../fonts/MyriadProCond/MyriadProCondRegular/MyriadProCondRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/*# sourceMappingURL=styles.css.map */
